general:
  kiosk-mode: full
  autofit: true
  lxde: false
  lxde-home: /home/pi

target:
  login-method: {{ dashboard_login }}
  username: {{ dashboard_user }}
  password: {{ dashboard_pass }}
  playlist: false
  URL: {{ dashboard_url }}
  ignore-certificate-errors: false
